@model IEnumerable<MovieCatalogApp.Models.Movie>

<div class="container mt-4">

    <h2 class="text-center mb-4">🎬 Movie List</h2>

    <div class="text-end mb-3">
        <a asp-action="Create" class="btn btn-success">+ Add Movie</a>
    </div>

    <table class="table table-bordered table-striped table-hover shadow">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Title</td>
                    <td>@m.Genre</td>
                    <td>₹ @m.Price</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@m.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@m.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>