@model WebApplication1.Models.ContactInfo

<div class="container mt-5">

    <h3 class="text-primary text-center mb-4">Search Result</h3>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Designation</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.ContactId</td>
                    <td>@Model.FirstName @Model.LastName</td>
                    <td>@Model.CompanyName</td>
                    <td>@Model.EmailId</td>
                    <td>@Model.MobileNo</td>
                    <td>@Model.Designation</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger text-center">
            Contact Not Found
        </div>
    }

    <div class="text-center">
        <a asp-action="ShowContacts" class="btn btn-primary btn-sm">Back</a>
    </div>

</div>