@model WebApplication7.Models.ContactInfo

<h2>Contact Details</h2>

<div class="card p-3">
    <p><b>Name:</b> @Model.FirstName @Model.LastName</p>
    <p><b>Email:</b> @Model.EmailId</p>
    <p><b>Mobile:</b> @Model.MobileNo</p>
    <p><b>Designation:</b> @Model.Designation</p>
    <p><b>Company:</b> @Model.CompanyName</p>
    <p><b>Department:</b> @Model.DepartmentName</p>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>