@model IEnumerable<WebApplication7.Models.ContactInfo>

<h2>Contacts</h2>

<a asp-action="Create">Add</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Designation</th>
        <th>Company</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@i.FirstName @i.LastName</td>
            <td>@i.EmailId</td>
            <td>@i.MobileNo</td>
            <td>@i.Designation</td>
            <td>@i.CompanyName</td>
            <td>@i.DepartmentName</td>
            <td>
                <a asp-action="Details" asp-route-id="@i.ContactId">Details</a> |
                <a asp-action="Edit" asp-route-id="@i.ContactId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@i.ContactId">Delete</a>
            </td>
        </tr>
    }
</table>